<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>endereco-project</display-name>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- FacesServlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- Parametros de inicializacao da FacesServlet -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.numberOfViewsInSession</param-name>
		<param-value>5</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.numberOfLogicalViews</param-name>
		<param-value>10</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- RestEasy Auto Scan -->
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Parametro de inicializacao de tema padrao do PrimeFaces -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>none</param-value>
	</context-param>

	<!-- Endereco do servico de consulta de CEP. Como este servico esta publicado nesta mesma aplicacao. A URL informada aponta para o host local na porta em que o 
		WildFly está sendo executado. -->
	<context-param>
		<param-name>br.com.ns.util.SERVICO_CONSULTA_CEP</param-name>
		<param-value>rest/cep/buscaDadosCepPorNumero</param-value>
	</context-param>

	<!-- Filtro GZIP -->
	<filter>
		<filter-name>GzipResponseFilter</filter-name>
		<filter-class>org.omnifaces.filter.GzipResponseFilter</filter-class>
		<init-param>
			<param-name>mimetypes</param-name>
			<param-value>text/css, text/javascript, application/javascript, application/json</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>GzipResponseFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- Configuracao do tempo de sessao -->
	<session-config>
		<session-timeout>30</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<!-- Pagina de erro padrao -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/templates/errorPage.xhtml</location>
	</error-page>
</web-app>